body{
margin:0;
font-family:Arial,sans-serif;
background:#f1f5f9;
display:flex;
}

aside{
width:230px;
min-height:100vh;
background:#111827;
color:white;
padding:25px;
}

aside a{
display:block;
color:white;
text-decoration:none;
padding:12px 0;
}

main{
padding:35px;
flex:1;
}

.cards{
display:flex;
gap:20px;
}

.card{
background:white;
padding:25px;
border-radius:20px;
min-width:150px;
box-shadow:0 5px 20px #ddd;
}
