body{
font-family:Arial;
padding:30px;
}

.card{
background:#fff;
padding:20px;
margin:15px;
border-radius:15px;
box-shadow:0 5px 20px #ddd;
}

.posto{
width:45px;
height:45px;
margin:5px;
}

.selezionato{
background:#22c55e;
}
